src/main/resources/WSDL/IntelecomRequestAdd.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.example.org/IntelecomRequestAdd" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="IntelecomRequestAdd" 
targetNamespace="http://www.example.org/IntelecomRequestAdd">
  <wsdl:types>
     <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/IntelecomRequestAdd">
       <xsd:complexType name="InfoType">
         <xsd:sequence maxOccurs="1">
           <xsd:element minOccurs="1" maxOccurs="1" name="From" type="xsd:string"/>
           <xsd:element minOccurs="1" maxOccurs="1" name="To" type="xsd:string"/>
           <xsd:element minOccurs="0" maxOccurs="1" name="SentTime" type="xsd:string"/>
           <xsd:element minOccurs="0" maxOccurs="1" name="ReceivedTime" type="xsd:string"/>
           <xsd:element minOccurs="0" maxOccurs="1" name="Subject" type="xsd:string"/>
           <xsd:element minOccurs="0" maxOccurs="1" name="Uri" type="xsd:string"/>
         </xsd:sequence>
       </xsd:complexType>
       <xsd:complexType name="ResponseType">
         <xsd:sequence maxOccurs="1">
           <xsd:element minOccurs="1" maxOccurs="1" name="Code" type="xsd:int"/>
           <xsd:element minOccurs="0" maxOccurs="1" name="Id" type="xsd:string"/>
           <xsd:element minOccurs="0" maxOccurs="1" name="RequestId" type="xsd:string"/>
           <xsd:element minOccurs="0" maxOccurs="1" name="Message" type="xsd:string"/>
           <xsd:element minOccurs="0" maxOccurs="1" name="Result" type="xsd:int"/>
         </xsd:sequence>
       </xsd:complexType>
       <xsd:element name="RequestAdd">
         <xsd:complexType>
           <xsd:sequence>
             <xsd:element minOccurs="1" maxOccurs="1" name="CustomerKey" type="xsd:string"/>
             <xsd:element minOccurs="1" maxOccurs="1" name="UserName" type="xsd:string"/>
             <xsd:element minOccurs="1" maxOccurs="1" name="Password" type="xsd:string"/>
             <xsd:element minOccurs="1" maxOccurs="1" name="From" type="xsd:string"/>
             <xsd:element minOccurs="1" maxOccurs="1" name="To" type="xsd:string"/>
             <xsd:element minOccurs="0" maxOccurs="1" name="SentTime" type="xsd:string"/>
             <xsd:element minOccurs="0" maxOccurs="1" name="ReceivedTime" type="xsd:string"/>
             <xsd:element minOccurs="0" maxOccurs="1" name="Subject" type="xsd:string"/>
             <xsd:element minOccurs="0" maxOccurs="1" name="Uri" type="xsd:string"/>
             <xsd:element minOccurs="1" maxOccurs="1" name="RequestId" type="xsd:string"/>

           </xsd:sequence>
         </xsd:complexType>
       </xsd:element>
       <xsd:element name="RequestAddResponse">
         <xsd:complexType>
           <xsd:sequence>
             <xsd:element minOccurs="0" name="RequestAddResult" nillable="true" type="tns:ResponseType"/>
           </xsd:sequence>
         </xsd:complexType>
       </xsd:element>
     </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequestAddRequest">
    <wsdl:part element="tns:RequestAdd" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RequestAddResponse">
    <wsdl:part element="tns:RequestAddResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="IntelecomRequestAdd">
    <wsdl:operation name="RequestAdd">
      <wsdl:input message="tns:RequestAddRequest"/>
      <wsdl:output message="tns:RequestAddResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntelecomRequestAddSOAP" type="tns:IntelecomRequestAdd">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RequestAdd">
      <soap:operation soapAction="http://www.example.org/IntelecomRequestAdd/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntelecomRequestAdd">
    <wsdl:port binding="tns:IntelecomRequestAddSOAP" name="IntelecomRequestAddSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
